.plan {
    .timeline-start {
        align-self: start;
    }

    .timeline-middle {
        align-self: start;
        grid-row-start: 1;
        margin: 4px;

        @apply size-8 text-center align-middle;
    }

    .timeline-end {
        align-self: start;
    }

    .timeline-whole-row {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    :where(.timeline > li) {
        grid-template-columns: var(--timeline-col-start, minmax(0, 0.25fr)) auto var(--timeline-col-end, minmax(0, 1fr));
    }

    .bg-circle {
        border: 1px solid #f0f0f0;      // debugging
        border-radius: 50%;
        background-color: white;
    }

    p {
        margin-top: 1rem;
    }

    .edit-btn-fix {
        justify-self: end !important;
        z-index: 10;
    }
}
