.plan {
    .timeline-start {
        align-self: start;
    }

    .timeline-middle {
        align-self: start;
        grid-row-start: 1;
        grid-row-end: 4;
        z-index: 2;

        @apply size-8 text-center align-middle;

        .mdi {
            @apply bg-primary-50 bg-opacity-90;
            border-radius: 50%;

            &:before {
                width: 32px;
                height: 32px;
            }
        }
    }

    .timeline-end {
        align-self: start;
    }

    .timeline-whole-row {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    :where(.timeline > li) {
        grid-template-columns: var(--timeline-col-start, minmax(0, 0.35fr)) auto var(--timeline-col-end, minmax(0, 1fr));
    }

    .bg-circle {
        border: 1px solid #f0f0f0; // debugging
        border-radius: 50%;
        background-color: white;
    }

    .edit-btn-fix {
        display: none;
        justify-self: end !important;
        z-index: 10;
    }

    .add-btn-fix {
        display: none;
        --font-size: 1.5rem;
        font-size: var(--font-size);
        margin-bottom: calc(-1 * var(--font-size));
        align-self: end !important;
        justify-self: center !important;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        z-index: 5;
    }

    .timeline-item {
        .timeline-start,
        .timeline-middle,
        .timeline-end {
            > :first-child {
                margin-top: 0.5em;
            }

            > :not(:first-child):not(:last-child) {
                line-height: 3em;
            }

            > :last-child {
                margin-bottom: 0.5em;
            }
        }
    }

    .timeline-item:hover {
        .add-btn-fix {
            display: flex;
        }

        .edit-btn-fix {
            display: block;
        }
    }

    .tracking-border {
        // todo: 优化这个边框，避免激活时内部元素移位
        @apply rounded-lg border-2 border-sky-200;
    }

    .timeline-handle {
        cursor: pointer;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .timeline-item-drag {
        @apply border-2 border-sky-200;
    }

    .timeline-item-ghost {
        @apply border-2 border-purple-200;
    }

    .add-new-item-inplace {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}
